$corFundoPrincipal: #222222   ;
$corDeFundo: #222;


$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #0F79AF;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: rgba(0,0,0,0.8);